body {
    /* overflow-x: hidden; */
    /* background-size: 230vh; */
    background-repeat: no-repeat;
    font-size: 100%;
}

#mynav {
    background: #000;
    opacity: 0.8;
    z-index: 2000;
}

#white {
    color: #fff;
    font-family: "Trebuchet MS";
    opacity: 1;
    margin-right: 10px;
    font-style: oblique;
}

#Title {
    color: #fff;
    font-weight: bold;
    opacity: 1;
    font-size: 150%;
    margin-right: 30%;
    margin-left: 2%;
    text-shadow: 2px 2px grey;
}

.navbar-toggler {
    color: white;
    z-index: 1;
}


/* #dark {
    height: 71.7vh;
    width: 100vw;
    z-index: 0;
} */

#get {
    z-index: 999;
    background-color: transparent;
    position: absolute;
    top: 290px;
    border-radius: 10px;
    border: solid 3px #fff;
    color: white;
    left: 7%;
    font-size: 110%;
}

#get:hover {
    background: #000;
}

#i1,
#i2,
#i3,
#i4,
#i5 {
    display: none;
}

#main1 {
    z-index: 999;
    font-family: "Times new roman";
    font-size: 200%;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 170px;
    left: 8%;
}

#main2 {
    z-index: 999;
    font-family: "Trebuchet MS";
    font-size: 130%;
    color: #fff;
    position: absolute;
    top: 222px;
    font-weight: bold;
    left: 8%;
}

.container {
    position: relative;
    width: 100%;
    height: 90vh;
    user-select: none;
}

.container .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container .slide_img img {
    width: 100%;
    height: inherit;
}

.prev,
.next {
    width: 12%;
    height: inherit;
    position: absolute;
    top: 0;
    /* background-color: rgba(88, 88, 88, .2); */
    color: rgba(244, 244, 244, .5);
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

label span {
    position: absolute;
    font-size: 90pt;
    top: 50%;
    transform: translateY(-50%);
}

.prev:hover,
.next:hover {
    transition: .3s;
    /* background-color: rgba(88, 88, 89, .8); */
    color: #ffffff;
}

.container #nav_slide {
    width: 100%;
    bottom: 8%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}

#nav_slide .dots {
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .4s;
}

#nav_slide .dots:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    transition: .25s
}

.slide_img {
    z-index: -1;
}

#i1:checked~#one,
#i2:checked~#two,
#i3:checked~#three,
#i4:checked~#four,
#i5:checked~#five {
    z-index: 9;
}

#i1:checked~#nav_slide #dot1,
#i2:checked~#nav_slide #dot2,
#i3:checked~#nav_slide #dot3,
#i4:checked~#nav_slide #dot4,
#i5:checked~#nav_slide #dot5 {
    background-color: rgba(255, 255, 255, .9);
}

@keyframes scroll {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}


/* .yt{
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
	width: 150px;
	height:50px;
	border: outset #2c2c2c 4px;
	border-radius: 10px;
	text-align: center;
	font-size: 30pt;
	transition: .5s;
}

.yt a{
	text-decoration: none;
	color: #4c4c4c;
	transition: .5s;
}

.yt:hover{
	background: #4c4c4c;
	transition: .3s;
}

.yt:hover a{
	color: #fff;
	transition: .3s;
}
 */

@media screen and (max-width: 685px) {
    .container {
        border: none;
        width: 100%;
        height: 0;
        padding-bottom: 55%;
    }
    label span {
        font-size: 50pt;
    }
    .prev,
    .next {
        width: 15%;
    }
    #nav_slide .dots {
        width: 12px;
        height: 12px;
    }
}

@media screen and(min-width: 970px) {
    .me {
        display: none;
    }
}

.containter-1 {
    z-index: 999;
}

.cardcomp {
    display: inline-block;
    margin-top: 4%;
}

.comppart {
    display: inline-block;
    width: 28%;
    margin: 0 auto;
    margin-left: 4%;
    float: left;
}

.card {
    border-radius: 0px;
    width: 100%;
    border: 0;
}

.cardt {
    width: 100%;
    font-family: "Trebuchet MS";
    background-color: #F1F1F1;
    margin-top: 7.14%;
    padding: 14.28%;
}

.cardh {
    font-family: verdana;
    font-weight: bold;
    color: #000;
    margin-bottom: 10%;
    font-size: 220%;
    line-height: 120%;
}

.cardh:hover {
    color: #ffe827;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    -ms-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.info {
    margin-top: 30px;
    color: #000;
    font-family: "Trebuchet MS", verdana;
}

.arrow {
    margin-left: 5px;
    width: 5%;
}

.info:hover {
    color: #ffe827;
    text-decoration: none;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    -ms-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.info:hover .arrow {
    color: #ffe827;
}

#look {
    background: #ffe827;
    width: 85%;
    margin: 0 auto;
    margin-top: 4%;
    ;
    margin-bottom: 4%;
}

#lookm {
    font-size: 400%;
    font-family: "Trebuchet MS", verdana;
    margin-left: 7%;
    padding-top: 4%;
    -webkit-text-stroke-width: 2px;
    line-height: 110%;
}

#line {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #000;
    border: solid 4px #000;
    margin-top: 3%;
}

#call {
    font-size: 180%;
    font-family: "Trebuchet MS", verdana;
    -webkit-text-stroke-width: 1px;
    margin-left: 7%;
    margin-top: 3%;
    padding-bottom: 3%;
}

#quote {
    background: #332727;
    color: #ffe827;
    margin-left: 35%;
    font-size: 70%;
    padding: 1%;
    border: 0;
}

#quote:hover {
    background: #ffe827;
    color: #332727;
}

#benefith {
    text-align: center;
    font-family: "Trebuchet MS", verdana;
    -webkit-text-stroke-width: 1px;
    margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

#benefitc {
    width: 33%;
    display: inline-block;
    font-family: "Times new roman", verdana;
    text-align: justify;
    margin-left: 14%;
    margin-right: 3%;
    float: left;
    font-size: 120%;
}

#center {
    text-align: center;
    margin: 0 auto;
}

#list {
    display: inline-block;
    width: 40%;
    float: left;
    margin-left: 10%;
    padding-right: 5%;
    position: relative;
    top: -30px;
    left: -5%;
}

#benefitinside {
    border: solid 10px #ffe827;
}

#try {
    position: relative;
    left: 10%;
    top: 22px;
    font-size: 150%;
    background: #fff;
    padding: 1%;
}

#benefitinside ul {
    margin-top: 3%;
}

#benefitinside li {
    list-style-image: url(images/box.svg);
    -webkit-text-stroke-width: 0.5px;
}

#benefit {
    margin-bottom: 28%;
}

#choose {
    background-image: url('images/choose.png');
    background-size: 100vw;
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
}

#chooseh {
    font-family: "Trebuchet MS", verdana;
    font-size: 300%;
    -webkit-text-stroke-width: 2px;
    color: white;
    margin: 0 auto;
    padding-top: 5%;
    margin-bottom: 9%;
}

.chooseh1 {
    color: #ffe827;
    font-family: "Trebuchet MS", verdana;
    font-size: 300%;
    -webkit-text-stroke-width: 2px;
}

.chooseh2 {
    color: #fff;
    font-family: "Trebuchet MS", verdana;
    font-size: 150%;
    -webkit-text-stroke-width: 1px;
}

.partof3 {
    display: inline-block;
    width: 25%;
    margin-bottom: 10%;
}

#choose #quote {
    margin: 0 auto;
    font-size: 110%;
    -webkit-text-stroke-width: 0.7px;
}

.feedback {
    overflow-x: hidden;
    align-content: center;
    padding-top: 100px;
    height: 400px;
    vertical-align: middle;
    text-align: center;
    width: 45%;
    margin-left: 350px;
    margin-bottom: 30px;
}

.feedback h4 {
    color: #6ba32d;
    padding: 7px;
}

#backquote {
    opacity: 0.3;
    margin: 0 auto;
    text-align: center;
    width: 15%;
}

footer {
    overflow-x: hidden;
    background-color: #252324;
    color: #ffffff;
}

footer h4,
h2 {
    color: #c0ec83;
}

footer div {
    display: inline-block;
    width: 40%;
}

footer {
    padding-top: 10px;
    height: 350px;
}

footer .company-name {
    vertical-align: top;
    margin-left: 35px;
}

footer .quick-links {
    justify-content: center;
}

footer .quick-links h6:hover {
    color: #ffe827;
    cursor: pointer;
}

footer .company-info {
    margin: 5px;
    margin-right: 30px;
}

footer .our-services {
    vertical-align: top;
    margin: 5px;
}

footer li {
    list-style: none;
}

button {
    background: transparent;
    vertical-align: top;
    margin: 5px;
    color: #c0ec83;
    font-size: 110%;
    border: 0;
    font-weight: bold;
}

footer button:hover {
    background-color: #ffe827;
    color: #000;
}

footer .copyright {
    color: gray;
    font-size: 100%;
    margin-left: 35px;
    margin-top: 25px;
}

@media screen and (max-width: 768px) {
    #main1 {
        margin-top: 0%;
        z-index: 999;
        font-family: "Times new roman";
        font-size: 130%;
        font-weight: bold;
        color: #fff;
        position: absolute;
        /* top: 170px; */
        left: 8%;
        vertical-align: middle;
        text-align: center;
    }
    #main2 {
        z-index: 999;
        font-family: "Trebuchet MS";
        font-size: 80%;
        color: #fff;
        position: relative;
        /* top: 222px; */
        font-weight: bold;
        left: 8%;
    }
    #get {
        display: none;
    }
    .container {
        border: none;
        width: 100%;
        /* height: 0; */
        padding-bottom: 55%;
    }
    label span {
        font-size: 50pt;
    }
    .prev,
    .next {
        color: rgba(244, 244, 244, 0.7);
        width: 15%;
    }
    #nav_slide .dots {
        display: none;
        width: 12px;
        height: 12px;
    }
    .comppart {
        width: 100%;
        text-align: center;
        float: left;
        margin-left: 2.5%;
        margin-top: 4%;
    }
    .card {
        border: solid 20px #fff;
        text-align: center;
        float: left;
    }
    .cardt {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 4%;
        float: left;
    }
    #lowermargin {
        margin-bottom: 8%;
    }
    #look {
        width: 100%;
        margin: 0 auto;
        margin-left: 2.5%;
        margin-bottom: 7%;
    }
    #lookm {
        font-size: 180%;
        -webkit-text-stroke-width: 1px;
    }
    #look #quote,
    #call,
    #lookm {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 2%;
    }
    #dark {
        width: 100%;
    }
    #benefitc {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    .comppart {
        width: 100%;
        text-align: center;
        float: left;
        margin-left: 2.5%;
        margin-top: 4%;
    }
    .card {
        border: solid 20px #fff;
        text-align: center;
        float: left;
    }
    .cardt {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 4%;
        float: left;
    }
    #lowermargin {
        margin-bottom: 8%;
    }
    #look {
        width: 100%;
        margin: 0 auto;
        margin-left: 2.5%;
        margin-bottom: 7%;
    }
    #lookm {
        font-size: 180%;
        -webkit-text-stroke-width: 1px;
    }
    #call {
        font-size: 140%;
    }
    #look #quote {
        font-size: 70%;
        -webkit-text-stroke-width: 0.5px;
    }
    #look #quote,
    #call,
    #lookm {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 2%;
    }
    #dark {
        width: 100%;
    }
    #benefith {
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 200%;
    }
    #benefitc {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 8%;
    }
    #list {
        display: block;
        width: 100%;
    }
    #choose {
        margin-top: 650px;
        text-align: center;
        margin-left: 5%;
        width: 95%;
    }
    #chooseh {
        font-size: 120%;
        -webkit-text-stroke-width: 0.8px;
        margin-bottom: 9%;
    }
    .partof3 {
        width: 30%;
        margin-bottom: 8%;
    }
    .chooseh1 {
        font-size: 120%;
        -webkit-text-stroke-width: 0.1px;
    }
    .chooseh2 {
        font-size: 100%;
        -webkit-text-stroke-width: 0.1px;
    }
    #choose #quote {
        font-size: 65%;
        ;
    }
    .feedback {
        /* font-size: 90%;
        overflow-x: hidden;
        align-content: center;
        padding-top: 100px;
        height: 400px;
        text-align: center;
        width: 100%; */
        padding-top: 0%;
        position: relative;
        top: -20%;
        height: auto;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        font-size: 85%;
    }
    .feedback h4 {
        color: #6ba32d;
        padding: 7px;
    }
    #backquote {
        opacity: 0.3;
        margin: 0 auto;
        text-align: center;
        width: 15%;
    }
    footer {
        text-align: center;
        width: 100vw;
        font-size: 80%;
        overflow-x: hidden;
        background-color: #121112;
        color: #ffffff;
    }
    footer h4,
    h2 {
        color: #c0ec83;
    }
    footer div {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    footer {
        padding-top: 10px;
    }
    footer .company-name {
        vertical-align: top;
    }
    footer .quick-links {
        font-size: 90%;
    }
    footer .quick-links h6:hover {
        color: #ffe827;
        cursor: pointer;
    }
    /* footer .quick-links {
        justify-content: center;
    } */
    /* footer .company-info {
        margin: 5px;
        margin-right: 30px;
    } */
    /* footer .our-services {
        margin: 5px;
    } */
    /* footer li {
        list-style: none;
    } */
    footer button {
        background: transparent;
        /* vertical-align: top; */
        margin: 5px;
        color: #c0ec83;
        font-size: 110%;
        font-weight: bold;
        border: 0;
    }
    footer button:hover {
        background-color: #ffe827;
        color: #000;
    }
    footer .copyright {
        color: gray;
        font-size: 100%;
        margin-left: 35px;
        margin-top: 25px;
    }
}
